@page
@model FoodKept.Pages.FoodCustomer.CartModel
@{
    ViewData["Cart"] = "Cart";
}

@Html.AntiForgeryToken()
<table class="table">
    <thead>
        <tr>

            <th></th>
            <th>
                Name
            </th>
            <th>
                Restaurant
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var food in Model.Cart)
        {
            <tr>
                <td>
                    <form method="post">
                        <button type="submit" class="btn btn-light" id="removeFromCart" asp-page-handler="RemoveFromCart" asp-route-id="@food.Id">X</button>
                    </form>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => food.Food.FoodName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => food.Food.ApplicationUser.RestaurantName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => food.Food.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => food.Quantity)
                </td>
            </tr>
            <tr>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
    function removeFromCart(id) {
        $.ajax({
            type: "POST",
            url: "/FoodCustomer/Cart?handler=RemoveFromCart",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            data: { "id": new String(id) },
            success: function (response) {
                alert("Removed from Cart " + response);
            },
            error: function (error) {
                alert("error " + error);
            }
        })
    }
</script>
