@page
@model FoodKept.Pages.FoodCustomer.CartModel
@{
    ViewData["Cart"] = "Cart";
}

<table class="table">
    <thead>
        <tr>

            <th></th>
            <th>
                Name
            </th>
            <th>
                Restaurant
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var food in Model.Cart)
        {
            <tr>
                <td>
                    <form method="post">
                        <button type="submit" class="btn btn-light" id="removeFromCart" asp-page-handler="RemoveFromCart" asp-route-id="@food.Id">X</button>
                    </form>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => food.Food.FoodName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => food.Food.ApplicationUser.RestaurantName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => food.Food.Price)
                </td>
                <td>
                    <div class="number">
                        <button type="button" class="minus">-</button>
                        <input type="text" style="width: 50px; text-align: center;" value="@food.Quantity" />
                        <button type="button" class="plus">+</button>
                    </div>
                </td>
            </tr>
            <tr>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.minus').click(function () {
            var $input = $(this).parent().find('input');
            var count = parseInt($input.val()) - 1;
            count = count < 1 ? 1 : count;
            $input.val(count);
            $input.change();
            return false;
        });
        $('.plus').click(function () {
            var $input = $(this).parent().find('input');
            $input.val(parseInt($input.val()) + 1);
            $input.change();
            return false;
        });
    });
</script>


