@page
@model FoodKept.Pages.FoodCustomer.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container container_mt">
    <h1>Details</h1>

    <div>
        <h4>Food</h4>
        <hr />
        <div class="container">
            <div class="row">
                <div id="detailsContent" class="col-6 d-flex align-items-start flex-column">
                    <dl class="row p-2">
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Food.FoodName)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Food.FoodName)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Food.Price)
                        </dt>
                        <dd class="col-sm-9">
                            @if (Model.Food.CurrentPrice.IsDiscount)
                            {
                                <span class="oldPrice">
                                    @Model.Food.CurrentPrice.OldPrice&euro;
                                </span>
                                <span class="newPrice ml-2">
                                    @Model.Food.CurrentPrice.DiscountPrice&euro;
                                </span>
                            }
                            else
                            {
                                <span>
                                    @Model.Food.Price&euro;
                                </span>
                            }
                        </dd>
                        <dt class="col-sm-3">
                            Discount
                        </dt>
                        <dd class="col-sm-9">
                            @if (Model.Food.CurrentPrice.IsDiscount)
                            {
                                <span>
                                    @Model.Food.CurrentPrice.DiscountPercent %
                                </span>
                            }
                            else
                            {
                                <span>
                                    None
                                </span>
                            }
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Food.Quantity)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Food.Quantity)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Food.FoodCategory)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Food.FoodCategory)
                        </dd>
                        <dt class="col-sm-10">
                            Food Image
                        </dt>
                        <dd class="col-sm-2">
                        </dd>
                        <dt class="col-sm-1">

                        </dt>
                        <dd class="col-sm-11 mt-sm-4">
                            @if (Model.Food.FoodImage != null)
                            {
                                <img src="data:image/jpg/png;base64,@System.Convert.ToBase64String(Model.Food.FoodImage)" width="250" height="250" />
                            }
                        </dd>
                    </dl>
                    <div id="buttonContent" class="position-relative">
                        <a id="buttonLink" class="position-absolute" asp-page="./Food">Back to List</a>
                    </div>
                </div>
                <div class="col-6">
                    <dl class="row p-2">
                        <dt class="col-sm-2">
                            Restaurant
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Food.ApplicationUser.RestaurantName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Food.ApplicationUser.Country)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Food.ApplicationUser.Country)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Food.ApplicationUser.City)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Food.ApplicationUser.City)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Food.ApplicationUser.Address)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Food.ApplicationUser.Address)
                        </dd>
                    </dl>
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script type="text/javascript">
                    let map;

                    function initMap() {
                        const myLatLng = { lat: @DetailsModel.Coordinates.Lat, lng: @DetailsModel.Coordinates.Lng }
                        map = new google.maps.Map(document.getElementById("map"), {
                            center: myLatLng,
                            zoom: 12,
                        });

                        new google.maps.Marker({
                            position: myLatLng,
                            map,
                            title: "Restaurant",
                        });
                    }

    </script>
