@page
@model FoodKept.Pages.FoodModel
@{
    ViewData["Title"] = "Food";
}
@Html.AntiForgeryToken()
<form>
    <p>
        Food Name: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Food[0].FoodName)
            </th>
            <th>
                Restaurant
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Food[0].Price)
            </th>
            <th>
                Discount
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Food[0].Quantity)
            </th>
            <th>
                Food Category
            </th>
            <th>
                Food Image
            </th>
            <th>
                Details
            </th>
            <th>
                Add to Cart
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var food in Model.Food)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => food.FoodName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => food.ApplicationUser.RestaurantName)
                </td>
                <td>
                    @if (food.CurrentPrice.IsDiscount)
                    {
                        <span class="oldPrice">
                            @food.CurrentPrice.OldPrice&euro;
                        </span>
                        <span class="newPrice ml-2">
                            @food.CurrentPrice.DiscountPrice&euro;
                        </span>
                    }
                    else
                    {
                        <span>
                            @food.Price&euro;
                        </span>
                    }
                </td>
                <td>
                    @if (food.CurrentPrice.IsDiscount)
                    {
                        <span>
                            @food.CurrentPrice.DiscountPercent %
                        </span>
                    }
                    else
                    {
                        <span>
                            None
                        </span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => food.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => food.FoodCategory)
                </td>
                <td>
                    @if (food.FoodImage != null)
                    {
                        <img src="data:image/jpg/png;base64,@System.Convert.ToBase64String(food.FoodImage)" width="80" height="80" />
                    }
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@food.ID">Details</a>
                </td>
                <td>
                    <button type="button" class="btn btn-primary text-light" id="addToCart" onclick="addToCart(@food.ID)" value="@food.ID">Add to Cart @food.ID</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
    function addToCart(id) {
        $.ajax({
            type: "POST",
            url: "/FoodCustomer/Cart?handler=AddToCart",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            data: { "id": new String(id) },
            success: function (response) {
                alert("Added to Cart " + response);
            },
            error: function (error) {
                alert("error " + error);
            }
        })
    }
</script>
